<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head><title>Rejestracja</title></head>
<body>
<h2>Rejestracja</h2>
<form th:action="@{/register}" th:object="${user}" method="post">
  <label>Login:</label>
  <input type="text" th:field="*{username}" required><br>

  <label>Hasło:</label>
  <input type="password" th:field="*{password}" required><br>

  <label>Email:</label>
  <input type="email" th:field="*{email}" required><br>

  <label>Phone number (optional):</label>
  <input type="text" th:field="*{phoneNumber}"><br>

  <label>Rola:</label>
  <select th:field="*{role}">
    <option value="USER">Użytkownik</option>
    <option value="OWNER">Właściciel firmy</option>
  </select><br>

  <button type="submit">Zarejestruj się</button>
</form>

</body>
</html>
